@tailwind base;
@tailwind components;
@tailwind utilities;

.notShown:not(:placeholder-shown) ~ p {
  top: 0;
  font-size: 0.75rem;
}

@layer components {
  .reservationForm {
    @apply mt-16 flex flex-col gap-8 [&_input]:border [&_input]:bg-neutral-50 [&_input]:rounded-lg [&_input]:border-neutral-400 [&_input]:py-3 [&_input]:pr-3 [&_input:focus]:border [&_input:focus]:border-purple-500 [&_input:focus]:outline-none [&_input:focus~p]:top-0 [&_input:focus~p]:text-xs;
  }

  .reservationParagraph {
    @apply absolute -translate-y-1/2 -translate-x-3 text-neutral-400 text-[0.875rem] font-medium leading-4 transition-all duration-200 bg-neutral-50 px-2 py-[0.12rem];
  }
}

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

:root.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/* body { */
/* color: var(--foreground); */
/* background: var(--background); */
/* font-family: Arial, Helvetica, sans-serif; */
/* } */
